.centralFlex{
    display: flex;
    
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  .button:active {
    transform: scale(0.95);
  }
  
  .button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  }
  
  .icon {
    margin: 0 5px;
  }
  